html { 
    display: flex;
    background: url(./images/snow.jpg) no-repeat center center fixed; 
    background-size: cover;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: ivory;
    background-image: url(./images/snow.jpg);
    background-size: cover;
    overflow-x: hidden;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    margin: 0;
    width: 100%;
    gap: 16px;
    background-color: #003768;
    border-color: ivory;
    flex-wrap: wrap;
  }
  
  
  .horns {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: auto;
    padding: 16px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 16px;
    gap: 16px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 16px;
    background-color: #003768;
    padding: 16px;
  }
  
  .content img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    border-color: #003768;
    border-width: 3px;
    width: 250px;
    height: auto;
    background-color: #003768;
    padding: 24px;
  }
  
  .button {
    font-size: 18px;
    padding: 4px;
    background-color: ivory;
    border-color: #003768;
  }
  
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  
  .portfolio img {
    display: block;
    width: 250px;
    height: auto;
    background-color: #003768;
    padding: 24px;
    border-radius: 20%;
    margin: 16px;
  }
  
  .inspire {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
  }
  
  .quote {
    display: flex;
  }
  
  .reference {
    display: flex;
  }
  
  a {
    font-size: 16px;
    text-decoration: none;
    color: ivory;
  }
  
  h1 {
    font-size: 42px;
    font-weight: 900;
  }
  