body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: ivory;
    background-image: linear-gradient(180deg, darkslateblue, aqua);
    background-size: cover;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 16px;
    background-color: #003768;
    border-color: ivory;
    flex-wrap: wrap;   
}

.horns {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: auto;
    padding: 16px;
}

.horns:hover {
    animation-name: wobble;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes wobble {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

ul {
    display: flex;
    list-style-type: none;
    padding: 16px;
    margin: 24px;
    gap: 24px;
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 16px;
    background-color: #003768; 
}

.content 
img {
    display: flex;
    border-radius: 50%;
    border-color: #003768;
    width: 250px;
    height: auto;
    background-color: #003768;
    padding: 16px;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.button {
    font-size: 18px;
    padding: 4px;
    background-color: ivory;
    border-color: #003768;
}

.sociallinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }
  
  .bouncelinks:hover {
    animation: bounce 0.5s ease;
  }

.sociallinks
p {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    font-size: 18px;
    flex-basis: auto; 
}

.soclist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    background-color: #003768;
    border-radius: 100px;
    padding-left: 5px;
    padding-right: 5px;
    width: 300px;
    border: 5px;
    border-style: solid;
    border-color: black;
}

.sociallinks img {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: ivory;
    border-radius: 40%;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 10px;
    padding: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: #003768;
    width: 100%;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: ivory;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: 900;
    font-size: 42px;
    background-color: #003768;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.head > h1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: 900;
    background-color: #003768;
    flex-basis: 50%;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 100px;  
    overflow-wrap: normal;
}